*.py[cod]

# C extensions
*.so

#Mac is not dumb
.DS_Store

#Erion's Folder
presentation/sample/*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# CMake
CMakeCache.txt
CMakeFiles
code/CodePolygons/CMakeCache.txt
code/CodePolygons/CMakeFiles
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
